<div class="tabs">
  <ul>
    <li *ngFor="let tab of tabs" 
        [class.active]="tab === selectedTab" 
        (click)="selectTab(tab)">
      {{ tab }}
    </li>
  </ul>
</div>

<div class="tab-content">
  <ng-container [ngSwitch]="selectedTab">
    <app-converter-form *ngSwitchCase="'Length'" [selected]="selectedTab"></app-converter-form>
    <app-converter-form *ngSwitchCase="'Weight'" [selected]="selectedTab"></app-converter-form>
    <app-converter-form *ngSwitchCase="'Temperature'" [selected]="selectedTab"></app-converter-form>
  </ng-container>
</div>