<div class="flex justify-around p-2.5 text-black gap-4 mb-6 text-xl font-bold">
  <ul class="list-none p-0 flex flex-col sm:flex-row w-full sm:w-auto">
    @for (tab of tabs; track tab) {
      <li
        (click)="selectTab(tab)"
        [ngClass]="{
          'text-blue-600 rounded underline': tab === selectedTab,
          'hover:underline hover:text-blue-600 transition-colors duration-300': true,
          'px-5 py-2.5 cursor-pointer': true
        }">
        {{ tab }}
      </li>
    }
  </ul>
</div>

<div class="tab-content">
  <ng-container>
    @switch (selectedTab) {
      @case ('Length') {
        <app-converter-form [selected]="selectedTab"></app-converter-form>
      }
      @case ('Weight') {
        <app-converter-form [selected]="selectedTab"></app-converter-form>
      }
      @case ('Temperature') {
        <app-converter-form [selected]="selectedTab"></app-converter-form>
      }
      @default {
        <p>Unknown status.</p>
      }
    }
  </ng-container>
</div>