<div class="tabs">
  <ul>
    @for (tab of tabs; track tab) {
      <li
        [class.active]="tab === selectedTab"
        (click)="selectTab(tab)">
        {{ tab }}
      </li>
    }
  </ul>
</div>

<div class="tab-content">
  <ng-container>
    @switch (selectedTab) {
      @case ('Length') {
        <app-converter-form [selected]="selectedTab"></app-converter-form>
      }
      @case ('Weight') {
        <app-converter-form [selected]="selectedTab"></app-converter-form>
      }
      @case ('Temperature') {
        <app-converter-form [selected]="selectedTab"></app-converter-form>
      }
      @default {
        <p>Unknown status.</p>
      }
    }
  </ng-container>
</div>