@if (!formSubmitted) {
  <div>
    <p>Enter the {{ selected.toLowerCase() }} to convert</p>
    <form [formGroup]="converterForm" (ngSubmit)="handleSubmit()">
      <input type="number" min="0" formControlName="number" (keydown)="blockMinus($event)"/>
  
      <p>Unit to convert from</p>
      <mat-form-field>
        <mat-label>Convert from</mat-label>
        <mat-select [(value)]= converterForm.value.unitFrom>
          @for (unit of currentUnits; track unit) {
            <mat-option [value]="unit.value">{{ unit.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <p>You selected: {{ converterForm.value.unitFrom }}</p>
  
      <p>Unit to convert to</p>
      <mat-form-field>
        <mat-label>Convert to</mat-label>
        <mat-select [(value)]= converterForm.value.unitTo>
          @for (unit of currentUnits; track unit) {
            <mat-option [value]="unit.value">{{ unit.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <p>You selected: {{ converterForm.value.unitTo }}</p>
  
      <button type="submit">Convert</button>
    </form>
  </div>
} @else {
  <app-converter-result [result]="conversionResult"></app-converter-result>
  <button type="reset" (click)="resetResults()">Reset</button>
}