/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@font-face {
    font-family: "Caveat";
    src: url(Caveat-SemiBold.ttf);
}

html, body { height: 100%; }
body { margin: 0; font-family: "Caveat"; font-weight: 800; }
